<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>paint</title>
</head>
<body>
<h1>登陆开始画画</h1>
<h3><%=message%></h3>
<form action="/doLogin" method="post">
    name:<input name='user[username]' value="" type='text' >
    password:<input name='user[password]' value="" type='password' >
    <input type="submit" value="进入聊天" >
</form>

</body>
</html>